@font-face {
    font-family: MontserratBold;
    src: url(font-family/Montserrat-Bold.ttf);
}
@font-face {
    font-family: MontserratRegular;
    src: url(font-family/Montserrat-Regular.ttf);
}
@font-face {
    font-family: PTSerif;
    src: url(font-family/PTSerif-Regular.ttf);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    margin: 0 auto;
}

/* style header */
.menu_inner {
    background-image: url(img/Layer\ 13.png);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 688px;
    
}
.logo {
    margin: 10px 0 0 10px;
}
.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 35px 0px 0px 40px;
}
.nav li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 10px;
    font-family: MontserratRegular;
    font-size: 18px;
    margin-right: 5px;
}
.nav li {

}
.nav li a:hover {
    background-color: #130e27;
    border-radius: 5px;
}
.text_inner {
    margin: 0 0 20px 20px;
    padding: 0;
}
.text_menu {
    margin: 0;
    margin-bottom: 20px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: MontserratBold;
    font-size: 100px;
}
.text_menu:nth-child(1) {
    color: #171035;
}
.text_menu:nth-child(2) {
    color: white;
}
.text_lorem {
    margin: 50px 0 0 0;
    padding: 0;
    color: white;
    font-size: 20px;
    max-width: 500px;
    line-height: 30px;
    font-family: PTSerif;
}
/* style header */

/* style services */
.services {
    height: 480px;
    background-color: #ffffff;
}
.text_services {
    display: flex;
    max-width: 360px;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 40px;
}
.text_services h3:nth-child(1) {
    color: #c62314;
}
.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.fa {
    font-size: 100px;
}
.text {
    font-family: PTSerif;
    font-size: 20px;
    max-width: 190px;
}
/* style services */

/* block our-story */ 
.our-story {
    background-color: #130e27;
    display: flex;
    height: 120px;
    font-family: PTSerif;
    align-items: center;
    justify-content: space-between;
}
.text-story {
    color: white;
    max-width: 620px;
    font-size: 20px;
    margin-left: 20px;
}
.button-story {
    text-transform: uppercase;
    font-family: MontserratRegular;
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-right: 20px;
    border: 2px solid #c62314;
    border-radius: 5px;
    padding: 20px;
    background-color: #c62314
}
/* block our-story */ 

/* style price */
.price {
    background-color: #efefef;
    height: 620px;
}
.title {
    
    margin: 0px 0 40px 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: #130e27;
}
.container-element {
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.element-price {
    background-color: #fff;
    padding: 30px;
    margin-top: 40px;
}
.element-price h2 {
    color: #c62314;
    text-transform: uppercase;
    font-size: 50px;
}
.element-price p {
    font-size: 22px;
    font-family: PTSerif;
    line-height: 7px;
}
.element-price a {
    text-transform: uppercase;
    font-family: MontserratRegular;
    text-decoration: none;
    color: white;
    font-size: 22px;
    border: 2px solid #130e27;
    border-radius: 5px;
    padding: 5px;
    background-color: #130e27;
    margin-top: 20px;
}
.element-price a:hover {
    background-color: #c62314;
    border: 2px solid #c62314;
}
/* style price */

/* style footer */
.footer {
    display: flex;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    background-color: #130e27;
}
.color-text {
    color: #c62314;
}
.text-footer {
    font-family: PTSerif;
    color: white;
}