@font-face {
    font-family: MontserratBold;
    src: url(font-family/Montserrat-Bold.ttf);
}
@font-face {
    font-family: MontserratRegular;
    src: url(font-family/Montserrat-Regular.ttf);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    margin: 0 auto;
}

/* style header */
.menu_inner {
    background-image: url(img/Layer\ 13.png);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 688px;
    
}
.logo {
    margin: 5px 0 0 5px;
}
.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 35px 0px 0px 40px;
}
.nav li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 10px;
    font-family: MontserratRegular;
    font-size: 18px;
    margin-right: 5px;
}
.nav li {

}
.nav li a:hover {
    background-color: #130e27;
    border-radius: 5px;
}
.text_inner {
    margin: 0 0 20px 20px;
    padding: 0;
}
.text_menu {
    margin: 0;
    margin-bottom: 20px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: MontserratBold;
    font-size: 100px;
}
.text_menu:nth-child(1) {
    color: #171035;
}
.text_menu:nth-child(2) {
    color: white;
}
.text_lorem {
    margin: 50px 0 0 0;
    padding: 0;
    color: white;
    font-size: 23px;
    max-width: 500px;
    line-height: 30px;
    font-family: serif;
}
/* style header */